/*-----------------------------------------------------------*/

.catalog, .filtered-catalog {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;

    gap: 15px;
}

.catalog-item {
    background: #727272;
    width: 100%;
    border-radius: 10px;

    display: grid;
    grid-template-areas:
    "img name purchase"
    "img specifications purchase";
    grid-template-rows: 1fr 3fr;
    grid-template-columns: auto 6fr 1fr;
    gap: 15px;

    align-items: center;
    justify-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
}

.catalog-item img {
    padding-left: 15px;

    grid-area: img;
}

.catalog-item .name {
    grid-area: name;

    background: #4f4f4f;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 5px 0 5px 0;
}

.catalog-item .specifications {
    grid-area: specifications;

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.catalog-item .purchase {
    grid-area: purchase;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.purchase button {
    background: #565656;
    color: #dedede;
    font-family: 'Droid Sans Mono', cursive;
    padding: 10px 25px 10px 25px;
    border-radius: 15px;
    transition: 0.35s;
}

.purchase button:hover {
    background: #939393;
}

/*-----------------------------------------------------------*/

.sort button {
    background: #727272;
    padding: 5px;
    border: none;
    border-radius: 7px;
    transition: 0.25s;
}

.sort button:hover {
    background: #949494;
}

.control {
    display: flex;
    justify-content: space-between;
}

.control .form button {
    background: #565656;
    color: #dedede;
    font-family: 'Droid Sans Mono', cursive;
    padding: 10px 25px 10px 25px;
    border-radius: 15px;
    transition: 0.35s;
}

.control .form button:hover {
    background: #868686;
}
